<%= render 'layouts/errors', model: @book %>

<div class="row">
    <div class = "col-xs-3">
        <%= render 'users/user_info', user: @user, book: @book %>
    </div>
    <div class = "col-xs-9">
        <h2>Users</h2>
        <%= render 'index', users: @users %>
    </div>
</div>

