<%= form_for(book) do |f| %>
        <div class="field row">
            <label for="book_title">Title</label>
                <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="field row">
            <label for="book_opinion">Opinion</label>
                <%= f.text_area :body, class: "col-xs-12 book_body" %>
        </div>
        <div class="actions row">
          <%= f.submit "送信", class: "btn btn-primary col-xs-12" %>
        </div>
<% end %>