/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-inverse {
    background-color: #222;
    border-color: #090909;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.body {
    margin-top: 51px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    color: white;
}
header .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse {
    background-color: #222;
    border-color: #090909;
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav>li {
    position: relative;
    display: block;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
div.field, div.actions {
    margin-bottom: 10px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
#notice {
    color: green;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
p {
    margin: 0 0 10px;
}
#error_explanation {
    color: red;
}
@media (min-width: 768px) {
 .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    }
}